
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="description" content="" />
    <meta name="viewport" content="user-scalable=no">
    
    <meta name="google-site-verification" content="BstJA3X9z6f9HcvoN9AZTwaKo_9Abj_j7dVBPfy640s" />
    <meta name="baidu-site-verification" content="IYCrtVH0i1" />
    <meta property="wb:webmaster" content="239d3d1dbdde1b2c" />
    <link rel="icon" type="image/png" href="images/favicon.ico"/>
    
    <script type="text/javascript">
        
        (function(document, screen) {if (screen.width < 760) {document.location.href="/mobile/";}}(document, screen));
    </script>
    
    <link rel="stylesheet" href="css/common.css?v=2015-5-20"/>
    
    <link rel="stylesheet" href="css/user_center.css"/>

    
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    
    
    <!-- <script type="text/javascript">

	    function togift(id){
	    	alert("商品id======="+id);
	    }
    
    </script> -->
    
    
    
    
    
    <title>礼品兑换</title>
</head>
<body class="day " ng-controller="bodyCtrl"  day-or-night>
    <section class="common-back" id="wrapBackground">
        
            
        
        <div id="main-box">
             <!--二维码-->
            <div class="qrCode-frame" ng-hide="qrCodeStatus">
                <img src="images/wx.png" alt="扫描二维码" />
                <em ng-click="qrCodeStatus=true">X</em>
            </div>
        
            <div ng-controller="colorAction">
                <div class="dayColor_two"></div>
                <div class="dayColor_one"></div>
                <div class="dayColor_three" ng-class="{dayColor_threeActive:threeActive}"></div>
            </div>
        
            
    <section>
        <div class="user-center-main-box common-width clearfix">
            <aside class="fl">
                <ul>
                    <li>
                        <a href="account" rel="nofollow">账号管理</a>
                    </li>
                    <li>
                        <a href="member_order.html" rel="nofollow">我的订单</a>
                    </li>
                    <li>
                        <a href="collect.do" rel="nofollow">我的收藏</a>
                    </li>
                   
                    <li  class="active" >
                        <a href="gifts.do" rel="nofollow">氪星礼品站</a>
                    </li>
                </ul>
            </aside>
            <article class="fl user-center-main">
                <header>
	
		 <span class="f-size" th:if="${session.loginedUser} eq null">想兑换？请<a href="javascript:" ng-click="logoinDialogShow()">立即登录</a></span>
	
</header>